<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='css/accounts_style.css') }}" rel="stylesheet" type="text/css"/>
    <title>insta485</title>
</head>
<body>
    <div class="firstline">
        <div>^_^ &nbsp;&nbsp;| &nbsp;&nbsp;Insta485</div>
        <div>login</div>
    </div>
<hr />
    <div class="login">
        <!-- DO NOT CHANGE THIS (aside from styling) -->
        <form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
            <div class="username">
                <input type="text" name="username" required placeholder="username"/>
            </div>
            <div class="psw">
                <input type="password" name="password" required placeholder="password"/>
            </div>
            <div class="submit">
                <input type="submit" value="login"/>
            </div>
            <input type="hidden" name="operation" value="login"/>
        </form>
    </div>
    <div class="signup">
        Don't have an account?
        <a href="/accounts/create/"> Sign up</a>
    </div>
</body>
</html>