<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>

    </style>
    <title>insta485</title>
</head>

<body>

<div class="headers">
    <a href="/" style="float: left;">insta485</a>

    <a href="/accounts/login/" style="float: right;">login</a>
</div>

<br>
<hr>
<!-- DO NOT CHANGE THIS (aside from styling) -->
<form action="/accounts/?target=/" method="post" enctype="multipart/form-data">
    Photo <input type="file" name="file" text="file" required/><br>
    Name <input type="text" name="fullname" required/><br>
    Username <input type="text" name="username" required/><br>
    Email <input type="text" name="email" required/><br>
    Password <input type="password" name="password" required/><br>
    <input type="submit" name="signup" value="sign up"/><br>
    <input type="hidden" name="operation" value="create"/>
</form>

<br>
Have an account?
<a href="/accounts/login/">login</a>

</body>
</html>
