<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>insta485</title>
</head>

<body>

<div class="headers">
    <a href="/" style="float: left;">insta485</a>

    <a href="/explore/">explore</a> |
    <a href="/u/{{ logname }}/">{{ logname }}</a>
</div>

<br>
<hr>
{{ logname }}
<br>
<!-- DO NOT CHANGE THIS -->
<form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
    <input type="submit" name="delete" value="confirm delete account"/>
    <input type="hidden" name="operation" value="delete"/>
</form>


</body>
</html>

