<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>insta485</title>
</head>
<body>
<div class="headers">
    <a class="top" href="/">insta485</a>
    <div class="rightHeaders">
        <a class="tt" href="/explore/">explore</a> |
        <a class="tt" href="/u/{{ logname }}/">{{ logname }}</a>
    </div>
</div>
<hr>
<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
    <input type="password" name="password" required/>
    <input type="password" name="new_password1" required/>
    <input type="password" name="new_password2" required/>
    <input type="submit" name="update_password" value="submit"/>
    <input type="hidden" name="operation" value="update_password"/>
</form>
<a class="account" href="/accounts/edit/">Back to edit account</a>
</body>
</html>